*.swp
.DS_Store

vim/vim/.netrwhist
sources/.sources/99-*
ssh/.ssh/config.d/99-*
general/.local/state
general/.local/share
general/.local/bin/
general/.local/lib/
general/.local/pipx/
!general/.local/share/applications

scripts/Brewfile.lock.json
