[user]
	name = Rodrigo Corrêa
	email = rcelha@gmail.com

[color]
	ui = true

[alias]
	graphb = log --graph --decorate --oneline
	graph = log --graph --decorate --oneline --all
	changelog = log --pretty=format:'%C(yellow)%h%C(reset) %s %C(bold blue)%an%C(reset)%n%b' --abbrev-commit --date=relative
    # git changelog master..
	changedfiles = diff --name-status
    # git changedfiles master...
	branchdiff = diff master...
	tags = describe --abbrev=0 --tags

[core]
	editor = vim -c :1

[push]
    default = simple

[pull]
    rebase = true

[includeIf "gitdir:~/repos/dw/"]
    path = ~/repos/dw/.gitconfig

[includeIf "gitdir:~/repos/digit/"]
    path = ~/repos/digit/.gitconfig

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[credential]
        helper = osxkeychain

[diff "sopsdiffer"]
	textconv = sops -d
